@import url('https://fonts.googleapis.com/css?family=Dancing+Script:wght@700&family=Dosis:wght@300&display=swap&effect=fire-animation|neon');
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
     user-select: none;
}

.navbar{
    text-align: right;
    width: 100%;
    background-color: transparent;
    border: 0px solid;
    border-radius: 5px;
    height: 45px;
    position: fixed;
}
.navbar img{
    width: 45px;
    height: 45px;
    float: left;
    margin-left: 40px;
}
.navbar p{
    float: left;
    font-size: 20px;
    margin-left: 10px;
    color: whitesmoke;
    margin-top: 10px;
 
}
.navbar li{
    list-style: none;
   display: inline;
   margin-right: 100px;
   font-size: 20px;
   
}   
.navbar li a{
    text-decoration: none;
    color: whitesmoke;
    margin-top: 10px;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    background-color: ;

}
.banner{
    width: 100%;
    height: 450px;
    border: 0px solid red;
    overflow: hidden;
}
.banner {
    width: 100%;
    height: 450px;
    background-size:cover ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.6)),url("images/img66.jpg");

}
.banner p {
    margin-top: 100px;
}
.banner p{
    font-size: 30px;
    color: whitesmoke;
}
.banner p2{
    font-size: 100px;
    color: yellow;
}
.banner p3{
    font-size: 30px;
    color: whitesmoke;
    margin-left:10px;
}
.dashboardheading{
    width: 100%;
    height: 100px;
    
    background-color:#fff100 ;
    text-align: center;
}
.dashboardheading h1{
    font-size: 50px;
    font-family: 'Dosis', cursive;
    text-shadow: 2px 2px 4px grey;
  

}
.special{
    width: 100%;
    height: 500px;
    border: 0px solid red;
    background-color: peachpuff;
}
.special img{
    width: 100%;
    height: 100%;
    border-radius: 10px 130px;
    box-shadow: 4px 4px 6px 0px black;
}
.cafeteria img{
    width: 100%;
    height: 100%;
}

.Sheading h1{
    text-align: center;
    font-family:'Handlee', cursive; ;
}
.s1,.s2,.s3{
    width: 25%;
    height: 450px;
    border: 0px solid blue;
    margin-left: 75px;
}
.S1-details,.S2-details,.S3-details,{
    width: 25%;
    height: 100px;
    background-color:#ed1e79  ;
}
.s1: hover+ .{
    display: block;

}


.cafeteria{
    width: 100%;
    height: 450px;
    border: 0px solid red;
    background-color: #fff100;
}

.Cheading h1{
    text-align: center;
    font-family:'Handlee', cursive;
    text-shadow: 3px 3px 4px grey;
}
.c1,.c2{
    width: 50%;
    height: 430px;
    border: 0px solid blue;
    margin-left: ;
    float: left;

}
.burger,.pizza,.momos,.chicken,.dessert{
    width: 100%;
    height: 800px;
    border: 0px solid green;
    background-color:#ed1e79;

}

.card {
  box-shadow: 3px 4px 8px 0 black;
  max-width: 280px;
  background-color: whitesmoke;

  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 40px;
  margin-left: 90px ;
  float: left;
  border-radius: 20px;
}

.card img{
    width: 100%;
  height: 200px;
    border-radius: 10px 10px 60px 00px;
    box-shadow: 3px 1px 5px 0px black;
}
.card h1{
    font-size: 20px;
    font-family: 'Handlee', cursive;
}

.card h3 {
  color:grey;
  font-size: 18px;
  font-family: 
}
.card p{
    font-size: 14px;
    text-align: left;
    margin: 10px;
    font-family: 'Handlee', cursive;

}

.card button {
  color: white;
  background-color: #000;
  text-align: center;
  width: 30%;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: none;
}

.card:hover{
    box-shadow:7px 7px 7px 0 wheat ;
    
    transition: 0.5s;

}
.card button:hover{
   
    border-radius: 10px 50px;
    transition: 0.6s;
    background-color: tomato;
}
.fire{
    width: 100%;
    height: 400px;
    border: 0px solid black;
    background-color: whitesmoke;
}
.fire1,.fire2{
    width: 50%;
    
}
.fire1 {
    width: 50%;
    height: 400px;
    float: left;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.3)),url("images/img67.jpg");
  

}
.fire1 pre{
     color: #indianred;
    font-size: 40px;
    margin-top: 150px;
    font-family: 'handle',cursive;

}

.fire2{
    width: 50%;
    height: 400px;
    float: left;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)),url("images/img68.jpg");
    background-repeat: no-repeat;

}

.food{
    width: 100%;
    height: 400px;
    border: 0px solid black;
    background-color: whitesmoke;
}
    
}
.food1 {
    width: 100%;
    height: 400px;
    float: left;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)),url("food/img51.jpg");
  

}
.food1 pre{
     color: #FEDE17;
    font-size: 40px;
    margin-top: 70px;

}
/*
.fire2{
    width: 50%;
    height: 400px;
    float: left;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)),url("food/img50.jpg");
    background-repeat: no-repeat;

}
*/


.footer{
    width: 100%;
    height: 300px;
    border: 0px solid blueviolet;
    background-color:#000033;
}
.f-about,.f-cities,.services,.contactus{
    width: 25%;
    height:300px;
    border: 0px solid red;

}


.footer ul{
    list-style: none;
    margin-top: 30px;
    color: whitesmoke;
     font-family: 'Dosis',sans-serif;


}
.footer li{
   
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
     font-family: 'Dosis',sans-serif;
    

}
.footer h3{
    text-align: center;
    text-decoration-line: underline;
    color: white;
    margin-top: 20px;
    font-size: 30px;
     font-family: ;
     text-underline-offset: 10px;
     font-family: 'handlee',sans-serif;

}
.footer a{
    text-decoration: none;
    color:white   ;
     font-family: 'handlee',sans-serif;
}
